[Unit]
Description=Commentbook Receiver Server
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
User=commentbook
Group=commentbook
WorkingDirectory=/commentbook
ExecStart=/commentbook/commentbook
RestartSec=5
Environment=

[Install]
WantedBy=multi-user.target
