[Unit]
Description=Commentbook Receiver Server
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
User=pensieve
Group=pensieve
WorkingDirectory=/pensieve
ExecStart=/pensieve/pensieve
RestartSec=5
Environment=

[Install]
WantedBy=multi-user.target
